<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto mt-4">


            <div class="d-flex">
                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/3bdo.jpeg">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h1>Abdelrahman Emad</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/abdelrahmanemadfarouk/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>



            </div>

            <hr>

            <div class="d-flex p-2">
                <div class="flex-grow-1 me-3">
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;Mahmoud Elnaggar</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/mahmoud-elnaggar-110643171/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>

                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/nagar.jpeg">
                </div>

            </div>



            <hr>

            <div class="d-flex">
                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/ethar.jpg">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h1>Ethar Abdelrahman</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/ethar-abdelrahman-3a729123a/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>



            </div>

            <hr>

            <div class="d-flex p-2">
                <div class="flex-grow-1 me-3">
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;Seif A. AbdelAziz</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/seif-a-abdelaziz-729232275/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>

                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/Seif.jpeg">
                </div>

            </div>


            <hr>


            <div class="d-flex">
                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/7oda.jpeg">

                </div>
                <div class="flex-grow-1 ms-3">
                    <h1>Mahmoud Khaled</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/mahmoudxkhaled/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>



            </div>

            <hr>

            <div class="d-flex p-2">
                <div class="flex-grow-1 me-3">
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;Mahmoud Elish</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/mahmoud-elish/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>

                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/3lish.jpg">
                </div>


            </div>

        </div>
    </div>
</div>